# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.pem
*.hclic

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*
region1/terraform.tfvars.example
region1/ahar-keypair-2023.pem
shared/scripts/setup_ent.sh
shared/scripts/setup_oss_golden.sh
shared/config/consul-license.hclic
shared/config/nomad-license.hclic
*.tfvars
modules/nomad-cluster/ahar-keypair-2023.pem
ahar-keypair-2023.pem
modules/shared/config/nomad-license.hclic
nomad.token
nomad2.token
terraform.tfvars
